 .thumbImg {
    float: left;
    margin: 4px !important;
    border: none;
}

.autoScaleImg {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.floatText {
    white-space: normal !important;
    overflow: visible !important;
}

.centerContent{
    text-align: center;
}

.ui-popup-container {
    max-width: 95% !important;
    min-width: 70% !important;
}

label{
    margin-top: 1em !important;
}

.ui-navbar .ui-btn{
    margin: 0.5em 0.5em 0.5em 0.5em !important;
    border: none !important;
    
}

.ui-navbar .ui-btn-active{
    -webkit-box-shadow: 0 0 12px #03B158 /*{d-active-background-color}*/;
	-moz-box-shadow: 0 0 12px #03B158 /*{d-active-background-color}*/;
	box-shadow: 0 0 12px #03B158 /*{d-active-background-color}*/;
}

.ui-navbar .ui-btn-icon-left{
    padding-left: 0px!important;
}

*[data-role=header] .ui-navbar .ui-btn{
    font-size: 1.3em !important;
}

table.tile-table{
    width: 100%;
}

.tile-table td{
    width: 50%;
    padding: 4px;
}

.tile-table td .ui-btn {
    line-height: 5em;
    margin: 0px;
}

.hidden{
    width: 0px;
    height: 0px;
    display: none;
}

.tile{
    display:table;
    border:1px solid #8c8c8c;
    -webkit-border-radius: .3125em /*{global-radii-blocks}*/;
	border-radius: .3125em /*{global-radii-blocks}*/;
    width:100%!important;
    height:100%!important;
    text-decoration:none;
}
.tile span{
    vertical-align:middle;
    display:table-cell;
    height:100%;
    width:100%;
    font-weight: bold;
}
.tile span img{
    margin-right:10px;
}

.tile-table{
    border:0px;
    width:100%!important;
    height:100%!important;
}

.tile-row{
    height:33%!important;
}

.tile-cell{
    width:50%!important;
    position:relative;
    text-align:center;
}

.tile-cell a {
    color:black!important;
}

.tile-cell a:hover {
    color:white!important;
    background-color:#45a74f!important;
}

*[data-role=footer] a[data-role=button]{
    margin-right:15px!important;
}